*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: aliceblue;
}
img{
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.list-style{
    list-style: none;
}
.nav-item{
    font-size: 16px;
}
.header{
    background-color: black;
    padding: 20px;
}
.col-6{
    width: 45%;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.banner-header{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}
.banner-text{
    text-align: center;
}
.col-3{
    width: 25%;
}
.image-container{
    width: 50%;
}
.textarea-container{
    margin-top: 16px;
}
.btn{
    width: 100%;
    height: auto;
    background-color: brown;
    border: none;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
}
.btn:hover{
    background-color: orange;
    box-shadow: 13px 14px 47px 15px rgba(55,41,4,0.66);
-webkit-box-shadow: 13px 14px 47px 15px rgba(55,41,4,0.66);
-moz-box-shadow: 13px 14px 47px 15px rgba(55,41,4,0.66);
transition-delay: 0.5s;
}
input{
    width: 250px;
    height: auto;
}
textarea{
    width: 100%;
}
footer{
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: black;
    margin-top: 200px;
}
.copyright{
color: aliceblue;
}
.copyright_marg{
    margin-top: 50px;
}
